@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 0;
  margin: 0; }

html {
  font-size: 16px; }
  @media (max-width: 991px) {
    html {
      font-size: 14px; } }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  position: relative;
  font-weight: 400;
  padding: 2rem 10rem;
  background-color: #F9D195; }
  @media (max-width: 991px) {
    body {
      padding: 2rem 4rem; } }
  @media (max-width: 767px) {
    body {
      padding: 2rem 2rem; } }
  @media (max-width: 575px) {
    body {
      padding: 2rem 1rem; } }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  display: block;
  width: 100%;
  height: auto; }

.heading {
  color: #68391A;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 200;
  font-family: Bitter; }

.star {
  padding: 1rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #F9D195; }
  .star i {
    font-size: 2rem;
    color: #fff; }

.btn-cyan {
  background-color: #67BDC7;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: .4s; }
  .btn-cyan:hover {
    opacity: .6; }

::placeholder {
  color: #68391A;
  font-family: 'Montserrat', sans-serif;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #68391A;
  font-family: 'Montserrat', sans-serif; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #68391A;
  font-family: 'Montserrat', sans-serif; }

.header .brand {
  text-align: center;
  position: relative;
  margin-bottom: 2rem; }
  .header .brand__logo .logo {
    width: 9rem;
    height: 9rem;
    margin: 0 auto;
    background-color: #99E3EC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; }
    .header .brand__logo .logo img {
      width: 70%; }
  .header .brand__logo .name-container {
    position: relative; }
    .header .brand__logo .name-container svg {
      transform: scale(2.1); }
      @media (max-width: 767px) {
        .header .brand__logo .name-container svg {
          transform: scale(1.8); } }
      @media (max-width: 575px) {
        .header .brand__logo .name-container svg {
          transform: scale(1.3); } }
    .header .brand__logo .name-container .brand__name {
      font-family: 'Nerko One', cursive;
      color: #68391A;
      font-size: 2rem;
      position: absolute;
      top: -.5rem;
      left: 50%;
      text-transform: uppercase;
      transform: translateX(-50%); }
      @media (max-width: 575px) {
        .header .brand__logo .name-container .brand__name {
          top: 0rem;
          font-size: 1.5rem; } }
  .header .brand__subname {
    font-size: 1.5rem;
    font-family: 'Bitter';
    font-weight: 400;
    color: #68391A; }
    @media (max-width: 575px) {
      .header .brand__subname {
        font-size: 1.2rem; } }
  .header .brand .login-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem; }
    @media (max-width: 575px) {
      .header .brand .login-btn {
        bottom: 70%;
        right: 0; } }
    .header .brand .login-btn i {
      color: #fff;
      margin-right: .3rem;
      font-size: 1.3rem; }
    .header .brand .login-btn span {
      font-size: .9rem;
      color: #fff; }
      @media (max-width: 575px) {
        .header .brand .login-btn span {
          display: none; } }

.header .open-nav {
  display: none;
  border-radius: 50%;
  font-size: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #F9D195;
  z-index: 10; }
  .header .open-nav:hover {
    color: red; }
  @media (max-width: 767px) {
    .header .open-nav {
      display: block; } }

.header .nav-toggle {
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  font-size: 2rem;
  color: #68391A;
  cursor: pointer;
  transition: all .2s; }

.header .navigation {
  margin-top: 2rem;
  margin-bottom: 1.4rem; }
  .header .navigation .close-nav {
    display: none;
    position: absolute;
    top: 1rem;
    background-color: #F9D195;
    right: 1rem; }
    .header .navigation .close-nav:hover {
      color: red; }
    @media (max-width: 767px) {
      .header .navigation .close-nav {
        display: block; } }
  @media (max-width: 767px) {
    .header .navigation {
      margin-top: 0;
      margin-bottom: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-color: #F9D195;
      display: flex;
      justify-content: center;
      align-items: center;
      display: none; } }
  .header .navigation ul {
    display: grid;
    width: 100%;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-gap: 0.8%; }
    @media (max-width: 1199px) {
      .header .navigation ul {
        grid-template-columns: 32.8% 32.8% 32.8%; } }
    @media (max-width: 767px) {
      .header .navigation ul {
        grid-template-columns: 100%; } }
    .header .navigation ul li button {
      display: block;
      cursor: pointer;
      width: 100%;
      font-size: .9rem;
      padding: 1rem 0;
      text-align: center;
      background-color: #fff;
      color: #68391A;
      border: 0.2rem solid #99E3EC;
      transition: all .2s linear; }
      .header .navigation ul li button:hover {
        color: #99E3EC; }
      @media (max-width: 767px) {
        .header .navigation ul li button {
          background: none;
          border: none;
          font-size: 2.5rem; } }
    .header .navigation ul li .active {
      color: #99E3EC; }

.link-to {
  margin-top: 3rem;
  border-top: 1px solid white;
  position: relative; }
  .link-to .link__container {
    display: grid;
    padding-top: 2rem;
    grid-template-columns: auto auto auto;
    grid-gap: 3rem; }
    @media (max-width: 575px) {
      .link-to .link__container {
        grid-template-columns: auto; } }
    .link-to .link__container .link__item {
      margin: 0 auto;
      text-align: center; }
      .link-to .link__container .link__item img {
        display: block;
        margin: 0 auto;
        width: 4rem;
        height: 4.5rem; }
      .link-to .link__container .link__item .heading {
        margin-top: 1rem; }
      .link-to .link__container .link__item .link__link {
        margin-top: .5rem; }
        .link-to .link__container .link__item .link__link a {
          color: #68391A;
          text-decoration: underline;
          padding: 0 .7rem; }
          .link-to .link__container .link__item .link__link a i {
            color: black; }

.main-slide {
  width: 100%;
  position: relative;
  overflow: hidden; }
  .main-slide__content {
    position: relative;
    width: 300%; }
    .main-slide__content:after {
      content: "";
      display: table;
      clear: both; }
    .main-slide__content .slide {
      border: 0.5rem solid #fff;
      width: 33.3333333333%;
      position: relative;
      transition: all .8s;
      display: block;
      float: left; }
      @media (max-width: 575px) {
        .main-slide__content .slide {
          border: 0.2rem solid #fff; } }
      .main-slide__content .slide img {
        display: block; }
      .main-slide__content .slide:after {
        content: "";
        display: block;
        width: 100%;
        height: 2rem;
        position: absolute;
        bottom: 0;
        background-color: #fff;
        transition: opacity .5s;
        opacity: 0; }
      .main-slide__content .slide:hover:after {
        opacity: 0.7; }
      .main-slide__content .slide:hover .slide__number {
        opacity: 1; }
      .main-slide__content .slide__number {
        position: absolute;
        right: 1rem;
        top: 1rem;
        color: #fff;
        transition: opacity .5s;
        opacity: 0; }
        @media (max-width: 575px) {
          .main-slide__content .slide__number {
            top: 0.5rem;
            right: 0.5rem; } }
  .main-slide__btn {
    transition: all .3s;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem;
    font-size: 2rem;
    color: #F9D195;
    background-color: rgba(255, 255, 255, 0.7); }
    .main-slide__btn:hover {
      opacity: 1; }
    @media (max-width: 575px) {
      .main-slide__btn {
        font-size: 1.2rem;
        padding: 1.2rem; } }
  .main-slide #next {
    right: 0;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem; }
  .main-slide #prev {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem; }

.sub-slide {
  margin-top: 2rem;
  position: relative; }
  .sub-slide .item {
    border: 5px solid white;
    position: relative; }
    .sub-slide .item:after {
      position: absolute;
      content: " ";
      display: block;
      background-color: white;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: all .5s; }
    .sub-slide .item:hover:after {
      opacity: .8; }
  .sub-slide .owl-nav button {
    display: inline-block;
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem; }
    .sub-slide .owl-nav button:last-child {
      right: 0; }
    @media (max-width: 575px) {
      .sub-slide .owl-nav button {
        width: 2rem;
        height: 2rem; } }
    .sub-slide .owl-nav button span {
      display: block;
      font-size: 3rem;
      color: #fff;
      font-weight: 700;
      line-height: 3rem;
      text-align: center; }
      @media (max-width: 575px) {
        .sub-slide .owl-nav button span {
          font-size: 2rem;
          line-height: 2rem; } }

.footer {
  border-top: 1px solid white;
  position: relative;
  margin-top: 3rem;
  text-align: center;
  padding-top: 1.4rem; }
  .footer .copyright {
    margin-top: 1.2rem; }
    .footer .copyright p {
      font-size: .8rem; }

.about-section {
  background-color: #fff; }
  .about-section .about__content {
    padding: 2rem 1.7rem;
    display: grid;
    grid-template-columns: 46% 46%;
    grid-gap: 8%; }
    @media (max-width: 575px) {
      .about-section .about__content {
        grid-template-columns: auto;
        grid-gap: 0%; } }
  .about-section .about__text {
    text-align: center;
    padding: 2rem 1rem;
    padding-left: 0; }
    .about-section .about__text p {
      margin-top: 2rem;
      font-size: .8rem;
      line-height: 1.4rem;
      color: #68391A; }

.menu-section {
  background-color: #fff;
  padding: 5rem 3.8rem; }
  @media (max-width: 575px) {
    .menu-section {
      padding: 4rem 2rem; } }

.menu__header {
  text-align: center; }
  .menu__header .heading {
    color: #99E3EC;
    position: relative;
    display: inline-block; }
    .menu__header .heading:after {
      content: "";
      display: block;
      position: absolute;
      width: 80%;
      height: 2px;
      background-color: #99E3EC;
      bottom: -1rem;
      left: 50%;
      transform: translateX(-50%); }
  .menu__header p {
    margin-top: 2.3rem;
    color: #68391A;
    font-size: .8rem; }

.menu__content {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 33.3333333333% 33.3333333333% 33.3333333333%; }
  @media (max-width: 767px) {
    .menu__content {
      grid-template-columns: 50% 50%; } }
  @media (max-width: 575px) {
    .menu__content {
      grid-template-columns: auto; } }

.menu__item {
  text-align: center; }
  .menu__item .product {
    padding: 0 2rem;
    padding-top: 2rem;
    width: 100%; }
    .menu__item .product .name {
      width: 100%;
      min-height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      .menu__item .product .name h3 {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400; }
      .menu__item .product .name:after {
        display: block;
        position: absolute;
        content: "";
        width: 80%;
        height: 2px;
        background-color: #68391A;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0; }
  .menu__item .product-info {
    padding: 0.5rem;
    margin-top: 1rem; }
    .menu__item .product-info .description p {
      font-size: .85rem;
      color: #68391A; }
    .menu__item .product-info .price {
      margin-top: 1rem;
      color: #68391A; }
    .menu__item .product-info .others {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .menu__item .product-info .others img {
        width: 2rem;
        height: 2rem; }

.anounce {
  background-color: #FBEFA3;
  padding: .8rem;
  text-align: center;
  border: 0.1px solid #d8b594;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.281); }
  .anounce p {
    font-size: .9rem; }

.order-online__content {
  background-color: white;
  display: grid;
  grid-template-columns: 15% 60% 25%;
  position: relative;
  overflow: hidden; }
  @media (max-width: 1199px) {
    .order-online__content {
      grid-template-columns: 70% 30%;
      grid-template-rows: 20% 80%; } }
  @media (max-width: 767px) {
    .order-online__content {
      grid-template-columns: 70% 30%;
      grid-template-rows: 10% 90%; } }
  @media (max-width: 575px) {
    .order-online__content {
      display: block; } }
  .order-online__content .guest-info {
    border: 1px solid #d8b594; }
    .order-online__content .guest-info .info {
      padding: .7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #d8b594; }
      .order-online__content .guest-info .info i {
        font-size: 2rem;
        color: #b9b9b9;
        line-height: 2rem; }
      .order-online__content .guest-info .info p {
        margin-left: .5rem;
        display: inline-block; }
    .order-online__content .guest-info .menu-types .rotate180 {
      transform: rotate(180deg); }
    .order-online__content .guest-info .menu-types h4 {
      cursor: pointer;
      font-weight: 400;
      font-size: .8rem;
      padding: 1rem .5rem;
      color: #68391A;
      border-bottom: 1px solid #d8b594;
      position: relative; }
      .order-online__content .guest-info .menu-types h4 i {
        float: right;
        margin-top: .2rem;
        transition: all .2s; }
      .order-online__content .guest-info .menu-types h4:hover {
        background-color: #f3f3f3; }
    .order-online__content .guest-info .menu-types ul li {
      display: block;
      background-color: #F0ECE9;
      border-left: 5px solid #68391A;
      padding: 1rem .5rem;
      font-size: .9rem;
      color: #68391A;
      font-weight: 500; }
    @media (max-width: 1199px) {
      .order-online__content .guest-info {
        grid-column: 2;
        grid-row: 1/ span 1; } }
  .order-online__content .order-menu {
    border-bottom: 1px solid #d8b594; }
    @media (max-width: 1199px) {
      .order-online__content .order-menu {
        grid-column: 1;
        grid-row: 1/ span 2; } }
    .order-online__content .order-menu__heading {
      text-align: center; }
      .order-online__content .order-menu__heading--1 {
        width: 50%;
        margin: auto;
        padding: 2.5rem 0;
        padding-bottom: 1.2rem;
        font-weight: 100;
        border-bottom: 1px solid #d8b594;
        font-size: 1.6rem;
        color: #68391A;
        font-family: Bitter; }
      .order-online__content .order-menu__heading .heading {
        margin: 1rem;
        margin-bottom: .8rem; }
      .order-online__content .order-menu__heading p {
        margin: 0;
        font-size: .8rem;
        color: #68391A;
        margin-bottom: 2rem; }
    .order-online__content .order-menu .menu-grid {
      display: grid;
      padding: 0 auto;
      grid-template-columns: auto auto; }
      @media (max-width: 767px) {
        .order-online__content .order-menu .menu-grid {
          grid-template-columns: auto; } }
      .order-online__content .order-menu .menu-grid__item {
        width: 15rem;
        height: 18rem;
        text-align: center;
        margin: auto;
        margin-bottom: 2rem;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 2px 2px 5px #acacac; }
        .order-online__content .order-menu .menu-grid__item:nth-child(1) .background {
          background-image: url(../img/menuItem3.webp); }
        .order-online__content .order-menu .menu-grid__item:nth-child(2) .background {
          background-image: url(../img/menuItem2.webp); }
        .order-online__content .order-menu .menu-grid__item:nth-child(3) .background {
          background-image: url(../img/menuItem1.webp); }
        .order-online__content .order-menu .menu-grid__item:nth-child(4) .background {
          background-image: url(../img/menuItem4.webp); }
        .order-online__content .order-menu .menu-grid__item:nth-child(5) .background {
          background-image: url(../img/menuItem5.webp); }
        .order-online__content .order-menu .menu-grid__item:nth-child(6) .background {
          background-image: url(../img/menuItem6.webp); }
        .order-online__content .order-menu .menu-grid__item .background {
          width: 100%;
          height: 65%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 15rem 15rem;
          transition: all .5s;
          position: relative;
          z-index: 1; }
          .order-online__content .order-menu .menu-grid__item .background:after {
            content: " ";
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(109, 109, 109, 0.308);
            top: 0;
            left: 0;
            opacity: 0;
            z-index: -1;
            transition: all .5s; }
        .order-online__content .order-menu .menu-grid__item .info {
          margin-top: 1rem;
          padding-left: 1rem; }
          .order-online__content .order-menu .menu-grid__item .info .name {
            font-size: .9rem;
            color: #68391A;
            text-align: left; }
            .order-online__content .order-menu .menu-grid__item .info .name p {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis; }
          .order-online__content .order-menu .menu-grid__item .info .price {
            text-align: left;
            font-size: .7rem;
            color: #68391A;
            margin-top: .5rem; }
          .order-online__content .order-menu .menu-grid__item .info .detail {
            margin-top: .5rem; }
            .order-online__content .order-menu .menu-grid__item .info .detail p {
              text-align: left;
              font-size: .7rem;
              color: #68391A; }
        .order-online__content .order-menu .menu-grid__item .others {
          position: absolute;
          bottom: 0;
          z-index: 1;
          width: 100%;
          height: 2.5rem;
          padding: .5rem;
          background-color: #fff; }
          .order-online__content .order-menu .menu-grid__item .others img {
            width: 1.5rem;
            height: 1.5rem;
            float: left; }
          .order-online__content .order-menu .menu-grid__item .others p {
            margin-top: .5rem;
            display: block;
            float: right; }
        .order-online__content .order-menu .menu-grid__item:hover .background {
          height: 32.5%; }
          .order-online__content .order-menu .menu-grid__item:hover .background:after {
            opacity: 1; }
        .order-online__content .order-menu .menu-grid__item:hover .info p {
          white-space: normal; }
  .order-online__content .guest-order {
    border: 1px solid #d8b594; }
    @media (max-width: 1199px) {
      .order-online__content .guest-order {
        grid-column: 2;
        grid-row: 2/ span 1; } }
    .order-online__content .guest-order .total-item {
      padding: 1.2rem;
      border-bottom: 3px solid #d8b594; }
      .order-online__content .guest-order .total-item p {
        font-size: .9rem; }
        .order-online__content .guest-order .total-item p:nth-child(1) {
          float: left; }
        .order-online__content .guest-order .total-item p:nth-child(2) {
          float: right; }
      .order-online__content .guest-order .total-item:after {
        content: "";
        display: table;
        clear: both; }
    .order-online__content .guest-order .my-item .ordered {
      position: relative;
      height: 15rem; }
      .order-online__content .guest-order .my-item .ordered .empty-shopping {
        padding: 3rem 2rem;
        text-align: center; }
        .order-online__content .guest-order .my-item .ordered .empty-shopping img {
          width: 5rem;
          height: 5rem;
          opacity: .7;
          display: block;
          margin: auto; }
        .order-online__content .guest-order .my-item .ordered .empty-shopping p {
          margin-top: 1rem;
          font-size: .8rem;
          color: #68391A; }
      .order-online__content .guest-order .my-item .ordered .my-cupcake {
        display: none;
        height: 15rem;
        overflow-y: scroll; }
        .order-online__content .guest-order .my-item .ordered .my-cupcake ul {
          overflow-x: hidden;
          overflow-y: hidden; }
          .order-online__content .guest-order .my-item .ordered .my-cupcake ul li {
            display: grid;
            padding: .8rem 1rem;
            grid-template-columns: 90% 20% 10%; }
            .order-online__content .guest-order .my-item .ordered .my-cupcake ul li:not(:first-child) {
              border-top: 1px solid #d8b594; }
            .order-online__content .guest-order .my-item .ordered .my-cupcake ul li:hover {
              grid-template-columns: 80% 10% 10%;
              background-color: #f1f1f1; }
            .order-online__content .guest-order .my-item .ordered .my-cupcake ul li .name {
              margin: auto;
              padding-right: 1.5rem;
              transition: all .5s;
              font-size: .8rem;
              width: 100%;
              color: #68391A; }
              .order-online__content .guest-order .my-item .ordered .my-cupcake ul li .name p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 500; }
              .order-online__content .guest-order .my-item .ordered .my-cupcake ul li .name .guest-request {
                display: block; }
            .order-online__content .guest-order .my-item .ordered .my-cupcake ul li .price {
              transition: all .5s;
              display: flex;
              justify-content: center;
              align-items: center; }
              .order-online__content .guest-order .my-item .ordered .my-cupcake ul li .price p {
                font-size: .8rem;
                font-weight: 500;
                color: #68391A; }
            .order-online__content .guest-order .my-item .ordered .my-cupcake ul li .button {
              display: block;
              text-align: center;
              transition: all .5s; }
              .order-online__content .guest-order .my-item .ordered .my-cupcake ul li .button button {
                width: 1rem;
                height: 1rem;
                font-size: .9rem;
                display: block;
                margin: auto;
                color: #68391A;
                background-color: transparent;
                font-weight: 500;
                border-radius: 50%; }
                .order-online__content .guest-order .my-item .ordered .my-cupcake ul li .button button:not(:first-child) {
                  margin-top: .3rem; }
                .order-online__content .guest-order .my-item .ordered .my-cupcake ul li .button button:hover {
                  background-color: grey; }
    .order-online__content .guest-order .my-item .subtotal {
      width: 85%;
      border-top: 2px solid #68391A;
      margin: 0 auto;
      padding: 1rem .5rem; }
      .order-online__content .guest-order .my-item .subtotal p {
        font-size: .8rem;
        color: #68391A; }
        .order-online__content .guest-order .my-item .subtotal p:nth-child(1) {
          float: left; }
        .order-online__content .guest-order .my-item .subtotal p:nth-child(2) {
          float: right; }
      .order-online__content .guest-order .my-item .subtotal:after {
        content: "";
        display: table;
        clear: both; }
    .order-online__content .guest-order .other {
      border-top: 1px solid #d8b594;
      padding: 1rem; }
      @media (max-width: 767px) {
        .order-online__content .guest-order .other {
          padding: 1rem .2rem; } }
      .order-online__content .guest-order .other .special-request h4 {
        cursor: pointer;
        padding: 0 .5rem 1rem .5rem;
        font-weight: 400;
        color: #68391A;
        border-bottom: 1px solid #d8b594; }
        .order-online__content .guest-order .other .special-request h4 span {
          font-weight: 600;
          font-size: 1.2rem;
          margin-right: .3rem; }
      .order-online__content .guest-order .other .special-request .special-request-form {
        display: none; }
        .order-online__content .guest-order .other .special-request .special-request-form #big-request {
          width: 100%;
          resize: none;
          border: 2px solid #d8b594;
          padding: 5px; }
          .order-online__content .guest-order .other .special-request .special-request-form #big-request:focus {
            outline: 1px solid cyan; }
      .order-online__content .guest-order .other .order-now-btn {
        margin-top: 1rem; }
        .order-online__content .guest-order .other .order-now-btn button {
          background-color: #68391A;
          color: #fff;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 1rem;
          width: 100%;
          padding: 1rem;
          cursor: not-allowed;
          transition: all .2s; }
          .order-online__content .guest-order .other .order-now-btn button:hover {
            background-color: #493e3e; }
          .order-online__content .guest-order .other .order-now-btn button i {
            margin-left: 1rem; }

.cupcake-card-container {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(216, 216, 216, 0.8);
  overflow-y: scroll;
  padding: 5rem 0; }
  .cupcake-card-container .cupcake-card {
    margin: auto;
    width: 30%;
    min-width: 17rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.459);
    background-color: white;
    position: relative; }
    .cupcake-card-container .cupcake-card img {
      display: block; }
    .cupcake-card-container .cupcake-card .close-card {
      position: absolute;
      width: 2rem;
      text-align: center;
      height: 2rem;
      border-radius: 50%;
      top: 0;
      right: 0;
      z-index: 1;
      transform: translate(50%, -50%);
      font-size: 1.5rem;
      line-height: 2rem;
      background-color: #68391A;
      color: #fff;
      font-weight: 600;
      cursor: pointer; }
    .cupcake-card-container .cupcake-card__content {
      padding: 1.5rem;
      color: #68391A; }
    .cupcake-card-container .cupcake-card__info h2 {
      font-size: 1.5rem;
      font-weight: 500; }
      @media (max-width: 767px) {
        .cupcake-card-container .cupcake-card__info h2 {
          font-size: 1.2rem; } }
    .cupcake-card-container .cupcake-card__info p {
      margin: 1.5rem 0;
      font-size: .9rem; }
      .cupcake-card-container .cupcake-card__info p span {
        font-size: 1rem; }
    .cupcake-card-container .cupcake-card .special-request h4 {
      font-size: 1rem;
      font-weight: 500;
      padding: 1rem 0; }
    .cupcake-card-container .cupcake-card .special-request .content {
      border-top: 1px solid #d8b594;
      padding: 1rem 0; }
      .cupcake-card-container .cupcake-card .special-request .content .show-card-request {
        cursor: pointer;
        display: block;
        font-size: .8rem; }
        .cupcake-card-container .cupcake-card .special-request .content .show-card-request span {
          margin-right: 1rem;
          font-size: 1.3rem;
          font-weight: 700; }
      .cupcake-card-container .cupcake-card .special-request .content .card-request {
        display: none; }
        .cupcake-card-container .cupcake-card .special-request .content .card-request .extra-fee {
          margin-top: .5rem;
          font-size: .8rem; }
      .cupcake-card-container .cupcake-card .special-request .content .card-textarea {
        width: 100%;
        padding: 5px;
        border: 1px solid #d8b594;
        resize: none; }
        .cupcake-card-container .cupcake-card .special-request .content .card-textarea:focus {
          outline: 2px solid cyan; }
    .cupcake-card-container .cupcake-card .quantity {
      color: #68391A;
      margin-top: 2rem; }
      .cupcake-card-container .cupcake-card .quantity p {
        float: left; }
      .cupcake-card-container .cupcake-card .quantity .right {
        float: right; }
        .cupcake-card-container .cupcake-card .quantity .right button {
          outline: none;
          color: #68391A;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          border: 2px solid #68391A;
          text-align: center;
          font-size: 1.2rem;
          font-weight: 700;
          background-color: transparent;
          padding: 0; }
        .cupcake-card-container .cupcake-card .quantity .right span {
          margin: 0 .8rem; }
      .cupcake-card-container .cupcake-card .quantity:after {
        content: "";
        display: table;
        clear: both; }
    .cupcake-card-container .cupcake-card .add {
      margin-top: 1.5rem;
      background-color: #68391A;
      padding: 1rem;
      font-weight: 500;
      font-size: 1.1rem;
      text-transform: uppercase;
      width: 100%;
      color: #fff;
      transition: all .3s;
      cursor: pointer; }
      .cupcake-card-container .cupcake-card .add span {
        margin-right: 1.2rem;
        font-size: 1.5rem; }
      @media (max-width: 575px) {
        .cupcake-card-container .cupcake-card .add {
          font-size: .9rem;
          padding: .8rem; } }
      .cupcake-card-container .cupcake-card .add:hover {
        background-color: #493e3e; }

.contact__content {
  background-color: #fff;
  padding: 1.8rem; }
  .contact__content .row--1 {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 4%; }
    @media (max-width: 575px) {
      .contact__content .row--1 {
        grid-template-columns: auto; } }
    .contact__content .row--1 .contact__left img {
      display: block; }
    .contact__content .row--1 .contact__right {
      margin-top: 3rem; }
      .contact__content .row--1 .contact__right .contact__header {
        text-align: center; }
        .contact__content .row--1 .contact__right .contact__header .heading {
          font-size: 2.2rem; }
        .contact__content .row--1 .contact__right .contact__header .contact__info {
          margin-top: .8rem;
          line-height: 1.3rem;
          color: #68391A;
          font-size: .9rem; }
      .contact__content .row--1 .contact__right .contact__form {
        margin-top: 2rem; }
        .contact__content .row--1 .contact__right .contact__form form input {
          width: 100%;
          height: 2.2rem;
          padding: 0 1rem;
          border: 1px solid cyan;
          display: block;
          margin-bottom: .7rem; }
          .contact__content .row--1 .contact__right .contact__form form input:not(:last-child):hover, .contact__content .row--1 .contact__right .contact__form form input:not(:last-child):focus {
            border: 2px solid #00a2ff; }
        .contact__content .row--1 .contact__right .contact__form form input.invalid {
          border: 2px solid red; }
        .contact__content .row--1 .contact__right .contact__form form textarea {
          resize: none;
          width: 100%;
          height: 7rem;
          padding: .5rem 1rem;
          border: 1px solid cyan;
          display: block;
          margin-bottom: .7rem; }
          .contact__content .row--1 .contact__right .contact__form form textarea:hover, .contact__content .row--1 .contact__right .contact__form form textarea:focus {
            border: 2px solid #00a2ff; }
        .contact__content .row--1 .contact__right .contact__form form .submit-btn {
          font-size: 1.2rem;
          font-family: Bitter;
          width: auto;
          border: none;
          background-color: #D3F2F0;
          padding: .4rem 3rem;
          color: #68391A;
          font-weight: 500;
          margin-bottom: 0;
          margin-left: 100%;
          transform: translateX(-100%);
          cursor: pointer;
          transition: all .3s; }
          .contact__content .row--1 .contact__right .contact__form form .submit-btn:hover {
            background-color: #47ffff;
            color: white; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: Bitter;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: Bitter; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: Bitter; }

#map {
  margin-top: 1.4rem;
  width: 100%;
  height: 300px; }

.workshops {
  background-color: #fff; }
  .workshops__header {
    height: 6rem;
    position: relative;
    text-align: center;
    border-top: 4px solid #99E3EC;
    border-left: 4px solid #99E3EC;
    border-right: 4px solid #99E3EC; }
    .workshops__header .heading {
      position: absolute;
      font-size: 2.3rem;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0; }
  .workshops__footer {
    height: 2rem;
    width: 100%;
    border-bottom: 4px solid #99E3EC;
    border-left: 4px solid #99E3EC;
    border-right: 4px solid #99E3EC; }
  .workshops__container {
    padding: 1.4rem; }
    .workshops__container .workshop {
      display: grid;
      grid-template-columns: 50% 50%;
      border: 2px solid #99E3EC; }
      @media (max-width: 767px) {
        .workshops__container .workshop {
          grid-template-columns: auto; } }
      .workshops__container .workshop__right {
        display: flex;
        justify-content: center;
        align-items: center; }
        @media (max-width: 767px) {
          .workshops__container .workshop__right {
            padding: 2rem 0; } }
        .workshops__container .workshop__right__content {
          text-align: center; }
          .workshops__container .workshop__right__content p {
            color: #68391A;
            margin-bottom: 1.3rem;
            font-size: .9rem; }
          .workshops__container .workshop__right__content .name {
            font-size: 1.5rem;
            text-transform: uppercase;
            font-family: Bitter; }
      .workshops__container .workshop__left {
        cursor: pointer; }
        .workshops__container .workshop__left img {
          filter: brightness(1); }
          .workshops__container .workshop__left img:hover {
            filter: brightness(0.8); }

.workshops-page {
  position: relative; }

#back-workshops--1,
#back-workshops--2,
#back-workshops--3 {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  color: #99E3EC;
  font-size: 1rem;
  position: absolute;
  top: 2.2rem;
  left: 1rem;
  z-index: 2; }
  #back-workshops--1 i,
  #back-workshops--2 i,
  #back-workshops--3 i {
    margin-right: 1.1rem; }

#back-workshops--3 {
  top: 3.5rem; }

.workshop-detail {
  display: none;
  padding: 8rem 1rem 3rem 1rem;
  background-color: white;
  position: relative; }
  .workshop-detail .header {
    text-align: center;
    margin-bottom: 2rem; }
    .workshop-detail .header p {
      margin-bottom: 2rem; }
    .workshop-detail .header .name {
      font-size: 2.5rem;
      font-family: Bitter;
      text-transform: uppercase;
      font-weight: 100; }
      @media (max-width: 767px) {
        .workshop-detail .header .name {
          font-size: 2rem; } }
      @media (max-width: 575px) {
        .workshop-detail .header .name {
          font-size: 1.5rem; } }
    .workshop-detail .header .price-time {
      font-size: 1.1rem;
      font-weight: 600; }
      .workshop-detail .header .price-time span {
        margin: 0 1rem; }
  .workshop-detail .description {
    padding: 0 10rem;
    margin-top: 5rem; }
    @media (max-width: 767px) {
      .workshop-detail .description {
        padding: 0 5rem; } }
    @media (max-width: 575px) {
      .workshop-detail .description {
        padding: 0 3rem; } }
    .workshop-detail .description p {
      font-size: 1rem;
      line-height: 2rem;
      color: #68391A;
      text-align: justify; }
  .workshop-detail .details {
    padding: 0 10rem;
    margin-top: 4rem; }
    @media (max-width: 767px) {
      .workshop-detail .details {
        padding: 0 5rem; } }
    @media (max-width: 575px) {
      .workshop-detail .details {
        padding: 0 3rem; } }
    .workshop-detail .details h4 {
      color: #68391A;
      font-size: 1.1rem;
      line-height: 1.8rem;
      font-weight: 600; }
    .workshop-detail .details .info {
      margin: 2rem 0;
      padding: 1.3rem 0;
      border-top: 1px solid #d8b594;
      border-bottom: 1px solid #d8b594;
      color: #68391A; }
      .workshop-detail .details .info p {
        font-size: .9rem;
        line-height: 1.9rem;
        font-weight: 500; }
      .workshop-detail .details .info .name {
        text-transform: uppercase; }
      .workshop-detail .details .info .price-time span {
        margin: 0 1rem; }
  .workshop-detail .location-contact {
    padding: 0 10rem;
    margin-top: 3rem; }
    @media (max-width: 767px) {
      .workshop-detail .location-contact {
        padding: 0 5rem; } }
    @media (max-width: 575px) {
      .workshop-detail .location-contact {
        padding: 0 3rem; } }
    .workshop-detail .location-contact h4 {
      font-size: 1.3rem;
      font-weight: 500;
      color: black; }
    .workshop-detail .location-contact p {
      margin-top: 1.5rem;
      color: #68391A;
      font-size: .9rem;
      line-height: 1.8rem; }

.time-zone {
  color: #68391A;
  margin-bottom: 2rem; }
  .time-zone #change-time-zone {
    color: #5addee;
    text-decoration: underline;
    cursor: pointer; }

.input-calendar {
  display: flex;
  position: relative; }
  .input-calendar .input-week {
    cursor: pointer;
    border: 2px solid black;
    width: 210px;
    padding: .3rem; }
    @media (max-width: 575px) {
      .input-calendar .input-week {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center; } }
    .input-calendar .input-week span {
      display: inline-block;
      width: 180px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      @media (max-width: 575px) {
        .input-calendar .input-week span {
          width: 0; } }
    .input-calendar .input-week i {
      float: right;
      display: block; }
    .input-calendar .input-week:hover {
      background-color: black;
      color: white; }
  .input-calendar .input-week.is-choosing {
    background-color: black;
    color: white; }
  .input-calendar .change-week {
    margin-left: 1.7rem;
    border: 2px solid black;
    display: flex;
    position: relative; }
    .input-calendar .change-week button {
      display: block;
      background: none;
      height: 100%;
      padding: 0 .7rem;
      cursor: pointer; }
      .input-calendar .change-week button:hover {
        background-color: black;
        color: white; }
    .input-calendar .change-week::after {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: black;
      top: 0;
      left: 50%;
      transform: translateX(-50%); }
  .input-calendar #today {
    cursor: pointer;
    margin-left: 1.7rem;
    border: 2px solid black;
    padding: .3rem; }
    .input-calendar #today:hover {
      background-color: black;
      color: white; }
  .input-calendar .month-calendar {
    margin-top: 3rem;
    border: 2px solid black;
    width: 17.5rem;
    padding: 1.4rem;
    position: absolute;
    background-color: white;
    opacity: 1;
    z-index: 10;
    display: none; }
    .input-calendar .month-calendar .head {
      margin-bottom: 1rem;
      display: grid;
      grid-template-columns: 15% 70% 15%; }
      .input-calendar .month-calendar .head button {
        font-size: 1.5rem;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center; }
      .input-calendar .month-calendar .head h4 {
        text-align: center;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center; }
    .input-calendar .month-calendar .calendar {
      display: grid;
      grid-template-columns: 2.06rem 2.06rem 2.06rem 2.06rem 2.06rem 2.06rem 2.06rem;
      font-size: .7rem;
      text-align: center; }
      .input-calendar .month-calendar .calendar div {
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center; }
      .input-calendar .month-calendar .calendar .day-of-week {
        font-weight: 700; }
      .input-calendar .month-calendar .calendar .calendar__cell {
        color: #646464; }
      .input-calendar .month-calendar .calendar .calendar__cell.is-available {
        cursor: pointer;
        color: black; }
        .input-calendar .month-calendar .calendar .calendar__cell.is-available:hover {
          border: 1px solid black; }
      .input-calendar .month-calendar .calendar .calendar__cell.is-today {
        color: #0099ff; }
    .input-calendar .month-calendar:before {
      content: "";
      display: block;
      position: absolute;
      width: 1rem;
      height: 1rem;
      border-top: 2px solid black;
      border-left: 2px solid black;
      background-color: white;
      top: -.65rem;
      left: 50%;
      transform: translateX(-50%) rotate(45deg); }

.book-workshops {
  position: relative;
  background-color: white;
  padding: 8rem 1rem 0 1rem; }
  .book-workshops .header {
    margin-bottom: 5rem; }
    .book-workshops .header h3 {
      color: #68391A;
      font-size: 1.8rem;
      font-weight: 400; }

.booking {
  display: grid;
  grid-template-columns: 70% 30%; }
  @media (max-width: 767px) {
    .booking {
      grid-template-columns: 100%; } }
  .booking__schedule {
    padding-bottom: 5rem; }
  .booking__result {
    position: relative;
    padding-bottom: 5rem;
    text-align: center; }
    .booking__result__content {
      width: 100%;
      padding: 2rem 1.3rem;
      border: 2px solid #d8b594; }
      .booking__result__content .result__name {
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: uppercase;
        color: #68391A; }
      .booking__result__content .result__time-price {
        color: #68391A;
        font-size: .9rem;
        margin: 1.5rem 0; }
        .booking__result__content .result__time-price span {
          margin: 0 1rem; }
      .booking__result__content #result__time span {
        display: block;
        margin-top: .5rem;
        border-top: 1px solid #d8b594;
        padding: 1rem 0;
        color: #68391A;
        font-size: .9rem; }
      .booking__result__content .booking-next-step {
        width: 100%;
        text-align: center; }
      .booking__result__content .empty-booking {
        display: none;
        margin-top: 1rem;
        color: red;
        font-size: .8rem; }

#slide-up-down {
  transition: all .3s; }

.display-week {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 1199px) {
    .display-week {
      display: flex;
      justify-content: center; } }
  .display-week__day {
    text-align: center;
    width: 5.5rem;
    padding: .5rem;
    opacity: .5;
    user-select: none; }
    .display-week__day .the-date {
      color: #68391A;
      font-size: 2rem; }
    .display-week__day .the-dow {
      color: #68391A;
      padding: 1rem 0 1.2rem 0;
      border-bottom: 1px solid #d8b594; }
    .display-week__day .the-time {
      font-size: .9rem;
      color: #68391A; }
  .display-week__day.is-available {
    opacity: 1;
    user-select: auto; }
    .display-week__day.is-available .the-time {
      cursor: pointer;
      display: inline-block;
      margin: auto;
      margin-top: .6rem;
      width: 5rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .display-week__day.is-available .the-time:hover {
        border: 2px solid black; }
  .display-week__day.is-today .the-date {
    color: #72fafa; }
  .display-week__day.is-today .the-dow {
    color: #72fafa; }
  .display-week__day.is-today .the-time {
    color: #72fafa; }

.workshop-form {
  position: relative;
  background-color: white;
  padding: 8rem 1rem 4rem 1rem; }
  .workshop-form .anounce {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0; }
  .workshop-form .header {
    margin-bottom: 5rem; }
    .workshop-form .header h3 {
      color: #68391A;
      font-size: 1.8rem;
      font-weight: 400; }
    .workshop-form .header p {
      color: #68391A;
      font-size: 1rem;
      font-weight: 400; }
  .workshop-form__content {
    display: grid;
    grid-template-columns: 70% 30%; }
    @media (max-width: 767px) {
      .workshop-form__content {
        grid-template-columns: auto; } }
    .workshop-form__content__left {
      padding-right: 2rem; }
      @media (max-width: 767px) {
        .workshop-form__content__left {
          padding-right: 0rem; } }
      .workshop-form__content__left form .guest-name, .workshop-form__content__left form .guest-email {
        margin-bottom: .8rem; }
      .workshop-form__content__left form label {
        color: #68391A;
        display: block; }
      .workshop-form__content__left form input {
        color: #68391A;
        width: 100%;
        padding: .5rem 1rem;
        border: 1px solid #d8b594;
        margin-bottom: .7rem; }
        .workshop-form__content__left form input:focus {
          outline: 2px solid cyan; }
      .workshop-form__content__left form .invalid-anounce {
        color: red;
        font-size: .8rem;
        margin: 0;
        display: none; }
      .workshop-form__content__left form .guest-phone {
        margin-bottom: 1rem; }
      .workshop-form__content__left form textarea {
        resize: none;
        width: 100%;
        height: 7rem;
        padding: .5rem 1rem;
        border: 1px solid #d8b594;
        display: block;
        margin-bottom: .7rem; }
        .workshop-form__content__left form textarea:focus {
          outline: 2px solid cyan; }
      .workshop-form__content__left form p {
        margin-top: 2rem; }
        @media (max-width: 767px) {
          .workshop-form__content__left form p {
            margin-top: 0rem;
            margin-bottom: 2rem;
            font-size: .8rem; } }
    .workshop-form__content__right {
      position: relative; }
      .workshop-form__content__right .guest-work-shop {
        width: 100%;
        padding: 2rem 1.3rem;
        border: 2px solid #d8b594; }
        .workshop-form__content__right .guest-work-shop__name {
          font-size: 1.5rem;
          font-weight: 400;
          text-transform: uppercase;
          color: #68391A; }
        .workshop-form__content__right .guest-work-shop__time-price {
          color: #68391A;
          font-size: .9rem;
          margin: 1.5rem 0; }
          .workshop-form__content__right .guest-work-shop__time-price span {
            margin: 0 1rem; }
        .workshop-form__content__right .guest-work-shop__detail span {
          display: block;
          margin-top: .5rem;
          border-top: 1px solid #d8b594;
          border-bottom: 1px solid #d8b594;
          padding: 1rem 0;
          color: #68391A;
          font-size: .9rem;
          line-height: 1.9rem; }
        .workshop-form__content__right .guest-work-shop__coupon {
          margin-top: 1rem;
          position: relative; }
          .workshop-form__content__right .guest-work-shop__coupon p {
            cursor: pointer;
            color: #68391A;
            font-size: .9rem;
            line-height: 1.8rem; }
            .workshop-form__content__right .guest-work-shop__coupon p i {
              transform: rotate(90deg);
              margin-right: .5rem; }
          .workshop-form__content__right .guest-work-shop__coupon__form {
            position: relative;
            margin: .8rem 0; }
            .workshop-form__content__right .guest-work-shop__coupon__form input {
              color: #68391A;
              display: block;
              width: 100%;
              height: 2.5rem;
              font-size: .9rem;
              padding: 0 2.8rem 0 .8rem;
              border: 1px solid #d8b594;
              cursor: not-allowed; }
            .workshop-form__content__right .guest-work-shop__coupon__form button {
              color: white;
              height: 2.5rem;
              width: 2.5rem;
              position: absolute;
              font-size: .9rem;
              top: 0;
              right: 0;
              background-color: #67BDC7;
              cursor: not-allowed;
              transition: .4s; }
              .workshop-form__content__right .guest-work-shop__coupon__form button:hover {
                opacity: .6; }
        .workshop-form__content__right .guest-work-shop .book-it {
          width: 100%;
          text-align: center;
          cursor: not-allowed; }
