.btn{
    padding: 1rem 1rem;
    transition:all .1s;
     display: inline-block;
     cursor: pointer;
     font-size: 1.2rem;
     background-color: $color-main-dark;
}

.btn-mg-t{
    margin-top:1rem;
   
}

.btn-tab{
    color: $color-white;
    transition: all 0.2s;
    font-size: 1.2rem;
    background-color: transparent;
  
    &--active{
        border-radius: 20rem;
        box-shadow: -.05rem -.05rem .2rem  $color-grey-dark, .1rem .1rem .2rem  $color-black;
        background-color: $color-main-dark;
    }
}