@font-face{
    src: url(../font/Acme-Regular.ttf);
    font-family: Acme;
}
@font-face{
    src: url(../font/FredokaOne-Regular.ttf);
    font-family: Fre;
}
@font-face{
    src: url(../font/FiraSans-Medium.ttf);
    font-family:FiraSans;
}
@font-face {
    src: url(../font/RussoOne-Regular.ttf);
    font-family:Russo;
}
@font-face{
    src: url(../font/Roboto.ttf);
    font-family:Roboto;
}
@font-face{
    src: url(../font/OpenSans-Light.ttf);
    font-family:OpenSans;
}